#navbar {
    height: 50px;
    color:#d68f3e;
}
#sidebar {
    top: 50px;
    width: 250px;
    color:#dbb181;
}


.my-navbar {
    background-color: #d68f3e;
}

.my-sidebar {
    background-color: #dbb181;
}

.content {
    min-height: calc(100vh - 50px);
    margin-left: 250px;
    margin-top: 50px;
}